body {
  font-family: "Roboto", sans-serif, italic, medium, large;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.flex-item {
	padding-right: 10px;
  padding-left: 10px;
}

#avatar {
  border-radius: 10px;
}

#info {
  border-radius: 10px;
}

#info-text {
  margin: 3%;
  padding: 1%;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#webrings {
  flex-direction: row;
  border-radius: 10px;
}

.friends-links {
  margin: 5px;
}